:root {
    --brown: #772432;
    --ligth-brown: #9f3f3f;
}

/* Navbar styles */
.bg-brown {
    background-color: var(--brown);
}

.btn-brown{
    background-color: var(--ligth-brown) !important;
    color: white !important;
}

/*-------------------formulario-------------------*/
body .form {
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;



}

body .form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;


}

body .form__title {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;

}

body .form__imput {

    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;

}

.form__input--message {
    resize: none;
    padding: 1.8rem 1em;
    margin-bottom: .5em;

}

body .form__cta {
    font-family: inherit;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

/*mediaquery form*/
@media (max-width:450px) {
    .form {
        padding: 3.5em 1.5em;
    }

}